/* FOOTER */

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    padding: 15px;
    
}
.footer-section{
    width: 100%;
    padding: 15px;
    text-align: center;
    border: 1px;
    background-color: rgb(129, 215, 66);

    a{
        text-decoration: none;
        color: white;
    }
    h3{
        color: rgb(107, 107, 92);
    }
    p{
        color: rgb(243, 232, 232);
    }
    ul{
        list-style: none;
    } 
}

@media (max-width: 769px){
    
    .contact-container {
        background-position:center;
        max-width: 100%;
        padding: 15px;
    }

    input, select, textarea {
        width: 100%;
        font-size: 1rem;
    }

    button {
        width: 100%;
        padding: 12px;
        font-size: 1.1rem;
    }
    form{
        max-width: 100%;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 10px auto;
        padding: 15px;
    
    }
}

